<div id="form">
    <div style="overflow: hidden;" class="form2">
        <div class="formbox">
            <h5>First Name</h5>
            <input type="text" [(ngModel)]="fname">*
        </div>
        <div class="formbox">
            <h5>Email</h5>
            <input type="email" [(ngModel)]="email">*
        </div>
        <div class="formbox">
            <h5>Message</h5>
            <textarea [(ngModel)]="message"></textarea>*
        </div>
    </div>
    <div class="alert alert-info" *ngIf="errors.length>0">
        <ul >
            <li *ngFor="let x of errors">{{x}}</li>
        </ul>
    </div>
    <div style="margin:30px;"><button class="buttton1 btn btn-primary" (click)="submit()">Submit </button></div>
    </div>
    
