.bg-container{
    background-image: url("bluebeach.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position:relative;
}
.button {
    font-size: 30px;
    padding: 10px;
    color: #fff;
    border: 2px solid #06D85F;
    border-radius: 20px/50px;
    text-decoration: none;
    position:absolute;
    margin-left:42%;
    margin-top:20%;
    background-color: #9900ff;
  }
  .button:hover {
  background: #06D85F;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  margin-top:0px;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 40%;
  margin-top:1.5%;
  position: relative;
  background-color:  #ffccff;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.input-field{
    font-family:"Roboto";
    font-size:18px;

}
.input-box{
    border-width:2px;
    border-radius:3px;
    border-color:black;
}
.button1{
  background-color:#80aaff;
  width:100px;
  color:black;
  font-family:"Roboto";
  font-size:15px;
  border-radius:3px;

}

