
<nav>
    <ul class="leftnav">
    <li class="list"><img src="http://localhost//green_heart.png" class="image"></li>
    <li class="list"><h1 class="title">Flat Theme</h1></li>
  </ul>
    <ul class="rightnav">
      <li class="list"><a class="aa" href="#">Home</a></li>
      <li class="list"><a class="aa"href="#">About us</a></li>
      <li class="list"><a class="aa"href="#">Services</a></li>
      <li class="list" ><a class="aa" href="#">Portfolio</a></li>
      <li class="list" ><a class="aa" href="#">Pages</a></li>
      <li class="list"><a class="aa" href="#">Blog</a></li>
      <li class="list"><a class="aa" href="#">Contact</a></li>
    </ul>
  </nav>

  <app-slider></app-slider>
  <div id="footer">
    <app-footer-content></app-footer-content>
    <app-footer-content></app-footer-content>
    <app-footer-content></app-footer-content>
</div> 