.image{
    width:200px;
    height:150px;
}
.container{
    background-color: antiquewhite;
    padding:10px;
    text-align:center;
    display:flex;
    flex-direction: row;

}
`
.title{
    font-family: "Roboto";
    font-size:30px;

}